POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_with_strong_password

NODE1_DB_NAME=blockchain_db_node1
NODE2_DB_NAME=blockchain_db_node2
NODE1_DB_HOST_PORT=5433
NODE2_DB_HOST_PORT=5434

NODE1_APP_PORT=8080
NODE2_APP_PORT=8081
NODE1_LEVELDB_PATH=/data/leveldb
NODE2_LEVELDB_PATH=/data/leveldb

BLOCKCHAIN_BOOTSTRAP_VALIDATOR_PUBLIC_KEYS_0=replace_with_validator_1_public_key_base64
BLOCKCHAIN_BOOTSTRAP_VALIDATOR_PUBLIC_KEYS_1=replace_with_validator_2_public_key_base64
BLOCKCHAIN_SYNC_INTERVAL_MS=5000
BLOCKCHAIN_BOOTSTRAP_SYNC_ENABLED=true
BLOCKCHAIN_BOOTSTRAP_SYNC_BATCH_SIZE=100

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=replace_with_strong_minio_password
MINIO_BUCKET=blockchain-files
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
