POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_with_strong_password

NODE1_DB_NAME=blockchain_db_node1
NODE2_DB_NAME=blockchain_db_node2
NODE1_DB_HOST_PORT=5433
NODE2_DB_HOST_PORT=5434

NODE1_APP_PORT=8080
NODE2_APP_PORT=8081
NODE1_LEVELDB_PATH=/data/leveldb
NODE2_LEVELDB_PATH=/data/leveldb

BLOCKCHAIN_BOOTSTRAP_ADMIN_PUBLIC_KEY=replace_with_base64_public_key
BLOCKCHAIN_SYNC_INTERVAL_MS=5000
BLOCKCHAIN_BOOTSTRAP_SYNC_ENABLED=true
BLOCKCHAIN_BOOTSTRAP_SYNC_BATCH_SIZE=100
